@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@700&display=swap");
body { margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; font-weight: 500; background-color: #e4edf4; /* font-family: 'Open Sans', sans-serif; */ }

.menu li { list-style: none; padding: 20px; font-size: 24px; color: #fff; cursor: pointer; }

.menu ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 0; margin: 0; }

.add__films { background-color: #6fcdff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-family: 'Open Sans', sans-serif; }

.films { background-color: #51afe1; font-weight: 400; }

.add__img { width: 8%; margin-right: 10px; }

.add__img::after { content: 'aa'; width: 10px; height: 10px; display: block; -webkit-box-shadow: 0px 0px 40px -1px #000000; box-shadow: 0px 0px 40px -1px #000000; }

.container { padding: 15px; }

.card__film { background-image: url("../img/movie background.png"); background-size: cover; background-position: center; border-radius: 15px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; padding: 25px; color: #fff; }

.dsc__block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.dsc__name { text-transform: uppercase; }

.dsc__text { font-weight: 700; text-align: right; }

.mobile { display: none; }

.img__poster { width: 100%; -webkit-box-shadow: 0px 0px 40px -1px #000000; box-shadow: 0px 0px 40px -1px #000000; }

.btn { margin-right: 10px; padding: 15px 45px; margin: 0 auto; width: 144px; border-radius: 24px; border: none; color: #fff; cursor: pointer; outline: none; font-family: 'Open Sans', sans-serif; }

.btn__delete { background: #ff7e70; -webkit-box-shadow: 0px 5px 7px -1px #ff7e70; box-shadow: 0px 5px 7px -1px #ff7e70; }

.btn__edit { background: #6ecdfd; -webkit-box-shadow: 0px 5px 7px -1px #6ecdfd; box-shadow: 0px 5px 7px -1px #6ecdfd; }

.comments__block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #fff; color: #ff7e70; padding: 0px 101px; font-family: 'Open Sans', sans-serif; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; }

.comments__count { margin: 0; cursor: pointer; }

.all__comment { padding: 15px 0; }

.comment { padding: 15px 0; }

.comments__block img { padding: 15px; height: 7px; cursor: pointer; }

.show { display: block; }

.hide { display: none; }

.border { width: 100%; height: 1px; background-color: #e4edf4; }

.d-flex-m { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.comment { color: black; font-size: 16px; }

.comments { display: none; }

.textarea { width: 100%; resize: none; height: 55px; padding: 10px; font-family: 'Montserrat', sans-serif; font-weight: 500; border: 1px solid #e4edf4; }

.btn__add { margin-top: 20px; margin-left: 0; background: #6ecdfd; -webkit-box-shadow: 0px 5px 7px -1px #6ecdfd; box-shadow: 0px 5px 7px -1px #6ecdfd; }

.add__card__film { display: none; padding: 20px; background-color: #fff; -webkit-box-shadow: 0px 0px 11px -8px #000000; box-shadow: 0px 0px 11px -8px #000000; }

.add__card__film label { margin-top: 30px; margin-bottom: 20px; font-weight: 700; font-size: 14px; text-transform: uppercase; }

.input { border: 1px solid  #e4edf4; border-radius: 10px; padding: 25px; resize: none; width: auto; }

.block__add { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.add__img2 { display: none; width: 4%; margin-right: 10px; }

.active .add__img { display: none; }

.menu .opacity { color: #ffffff82; }

.active .add__img2 { display: block; }

.wrapper__film { margin-bottom: 50px; }

.btn__edit__film { display: none; }

.btn__cansel { margin: 0; background: #ff7e70; -webkit-box-shadow: 0px 5px 7px -1px #ff7e70; box-shadow: 0px 5px 7px -1px #ff7e70; }

.btn__edit__film { margin: 0; background: #6ecdfd; -webkit-box-shadow: 0px 5px 7px -1px #6ecdfd; box-shadow: 0px 5px 7px -1px #6ecdfd; }

.mb { margin-bottom: 50px; }

@media (min-width: 900px) { .menu ul { -webkit-box-orient: initial; -webkit-box-direction: initial; -ms-flex-direction: initial; flex-direction: initial; }
  .films { width: 17%; }
  .menu li { font-size: 36px; padding: 20px; }
  .menu .add__films { width: 80%; font-size: 16px; }
  .add__img { width: 4%; }
  .container { width: 1178px; margin: 0 auto; }
  .img__poster { max-width: 311px; height: 445px; margin-right: 51px; }
  .card__film { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 79px 101px; }
  .card__descripton { width: 59%; }
  .card__descripton h1 { font-size: 36px; margin-top: 0; }
  .btn { width: 150px; margin-right: 15px; }
  .mt-10 { margin-top: 10px; }
  .d-flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .all__comment { padding: 40px 0; }
  .comment { padding: 40px 0; margin: 0; }
  .input { width: 500px; }
  .add__card__film { width: 1178px; margin: 0 auto; padding: 40px 0px; border-radius: 15px; border-top-left-radius: 0; border-top-right-radius: 0; margin-bottom: 30px; }
  .block__add { -webkit-box-align: initial; -ms-flex-align: initial; align-items: initial; margin-left: 87px; }
  .create__block { margin-top: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
  .desktop { display: none; }
  .mobile { display: block; margin-left: 0; }
  .dsc__block { width: 50%; color: #e4edf4; }
  .dsc__film { color: #e4edf4; }
  .width__custom { width: 100%; }
  .wrapp { width: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
  .wrapp__custom { width: 388px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; text-align: left; margin-bottom: 15px; }
  .mb { margin-bottom: 50px; } }
@media (min-width: 1500px) { .menu li { padding: 50px; }
  .films { width: 14.5%; } }
